---
import { Picture } from '@astrojs/image/components';

export interface Props {
  title?: string;
  subtitle?: string;
  highlight?: string;
  article1: string;
  article2: string;
  image?: string | any;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  highlight,
  article1 = '',
  article2 = '',
  image = await Astro.slots.render('image'),
} = Astro.props;
---

<div id="about-me" class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    {
      (title || subtitle || highlight) && (
        <div class="max-w-xl mb-10 md:mx-auto md:text-center lg:max-w-2xl md:mb-12">
          {highlight && (
            <p
              class="text-base text-primary dark:text-blue-200 font-semibold tracking-wide uppercase"
              set:html={highlight}
            />
          )}
          {title && (
            <h2
              class="max-w-lg mb-4 text-3xl font-bold leading-none md:tracking-tight sm:text-4xl md:mx-auto font-heading"
              set:html={title}
            />
          )}
          {subtitle && <p class="max-w-3xl mx-auto text-xl text-muted dark:text-slate-400" set:html={subtitle} />}
        </div>
      )
    }
  </div>
  <div class="max-w-3xl sm:mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
      <div class="flex flex-col justify-evenly text-muted dark:text-gray-400 flex-1">
        <p>
          {article1}
        </p>
        <p>
          {article2}
        </p>
      </div>
      <Picture
        class="mx-auto object-cover object-right-top rounded-md w-full flex-1"
        widths={[100, 200, 340, 400]}
        sizes="(max-width: 400px) 400px, (max-width: 200px) 200px, (max-width: 340px) 720px, 2040px"
        aspectRatio={340 / 500}
        loading="eager"
        width={340}
        height={500}
        {...image}
      />
    </div>
    <div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2"></div>
  </div>
</div>
